<div class="discussion-container">
  <div class="panel panel-default comment">
    <div class="panel-heading">
      <h1><%= @discussion.title %></h1>
      <p><%= @discussion.content %></p>
        <% if @discussion.user == current_user %>
          <p><%= link_to "Edit Discussion", edit_discussion_path(@discussion)%></p>
          <p><%= button_to 'Delete Discussion', @discussion, method: :delete%></p>
        <% end %>
    </div>
</div>
<div class="panel-body">
  <% if @discussion.comments %>
    <% @discussion.comments.each do |comment| %>
      <div class="panel panel-default" id="comment-section">
        <div class="user-comment">
          <img src="<%= comment.user.avatar.url(:square)%>" />
            <div class="user-handle">
              <%= comment.user.username %>
            </div>
        </div>

      <%= comment.content %>
        <% if comment.user == current_user %>
          <p><%= link_to "Edit Comment", edit_comment_path(comment)%></p>
          <%= button_to "Delete Comment", comment, method: :delete %>
     <% end %>
     </div>
    <% end %>
  <% end %>
</div>

  <% if @discussion %>
    <% if user_signed_in? %>
    <div class="form discussion-form">
      <div class="form-group">
        <%= form_for([@discussion, @comment]) do |f| %>
          <% f.hidden_field(:user_id) %>
          <div class="comment-input">
            <%= f.text_area :content, class: 'form-control input-sm' %>
          </div>
          <%= f.submit "Add Comment", class: 'btn btn-sm btn-primary' %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
