<div class="search-page">
  <h1 class="title">Search for your friends!</h1>

  <%= form_tag '/users', :method => "get", class: "form-inline" do %>
  <%= text_field_tag :search, params[:term], class: "form-control", placeholder: "Search for Friends" %>
  <%= submit_tag "Search", class: "btn btn-default", type:"button"%>
  <% end %>
</div>

<% if @searched_users %>
	<% @searched_users.each do |user| %>
  <div class="user-pals">
		<%= image_tag user.avatar.url(:thumb) %>
		<%= link_to user.username, user %>
  </div>
	<% end %>
<% else %>
	<% @users.each do |user| %>
  <div class="user-pals">
		<%= image_tag user.avatar.url(:thumb) %>
		<%= link_to user.username, user %>
  </div>
	<% end %>
<% end %>
