<h3><%= @user.email %><h3>
<h3>In Queue</h3>
	<% @inQueue.each do |queList| %>
		<li><%= link_to queList.podcast.title, queList.podcast %><br>
			<%= queList.podcast.genre %><br>
			<%= queList.podcast.artist %></li>
	<% end %>
<h3>Favories</h3>
	<% @favorites.each do |favorite| %>
		<li><%= link_to favorite.podcast.title, favorite.podcast %><br>
			<%= favorite.podcast.genre %><br>
			<%= favorite.podcast.artist %></li>
	<% end %>

<% if user_signed_in? %>
	<% unless @user == current_user || current_user.friends.include?(@user) || current_user.pending_friends.include?(@user) %>
		<%= form_for(:friend, :url => user_friends_path(:user_id => current_user.id, :friend_id => @user.id)) do |f| %>
			<%= f.submit "Add to My Friends" %>
		<% end %>
	<% end %>
<% end %>