<%= image_tag @user.avatar.url(:square) %>
<% if @user == current_user %>
<%= form_for(@user, html: { method: :put }) do |f| %>
	<%= f.label :avatar %>
    <%= f.file_field :avatar %>
    <%= f.submit "Edit Profile Picture" %>
<% end %>
<% end %>

<h3><%= @user.username %></h3>
<% if user_signed_in? %>
	<% unless @user == current_user || current_user.friends.include?(@user) || current_user.pending_friends.include?(@user) || current_user.inverse_friends.include?(@user) || current_user.inverse_pending_friends.include?(@user) %>
		<%= form_for(:friendships, :url => user_friends_path(:user_id => current_user.id, :friend_id => @user.id)) do |f| %>
			<%= f.submit "Add to My Friends" %>
		<% end %>
	<% end %>
<% end %>
<div id="userTabs" class="container">
<ul class="nav nav-pills">
	<li class="active">
		<a href="#queueContent" data-toggle="tab"><h3>In Queue</h3></a>
	</li>
<li><a href="#favoritesContent" data-toggle="tab">
<h3>Favorites</h3></a></li>

<li><a href="#recommendationContent" data-toggle="tab">
<h3>Recommendations</h3></a></li>
</ul>


<div class="tab-content clearfix">
	<div class="tab-pane active" id="queueContent">
	<% @sorted_queue_genres.each do |genre_group| %>
		<h3><%= genre_group.first.genre %></h3><br>
			<% genre_group.each do |podcast| %>
			<img src="<%= podcast.image100 %>">
			<li><%= link_to podcast.title, podcast%><br>
					<%= podcast.artist %></li><br>
					<div class="likes-count"><%= podcast.likes.count %></div>
			<% if user_signed_in? && (@user.friends.include?(current_user) || @user.inverse_friends.include?(current_user)) && (current_user != @user) %>
				<div class="like-button">
					<%= form_for(@like) do |f| %>
					  <%= f.hidden_field(:user_id, :value => current_user.id) %>
					  <%= f.hidden_field(:likeable_id, :value => podcast.id) %>
					  <%= f.hidden_field(:likeable_type, :value => podcast.class.name) %>
					  <%= f.submit "LIKE" %>
					<% end %>
				</div>
					<% end %>
					<% if @user == current_user %>
					<%= link_to "Remove from queue", "/podcastusers/#{PodcastUser.find_by(user_id: @user.id, podcast_id: podcast.id).id}", :method => 'delete' %>
					<% end %>
			<% end %>
	<% end %>
</div>

<div class="tab-pane" id="favoritesContent">
	<% @sorted_favorite_genres.each do |genre_group| %>
	<h3><%= genre_group.first.genre %></h3><br>
			<% genre_group.each do |podcast| %>
			<img src="<%= podcast.image100 %>">
			<li><%= link_to podcast.title, podcast%><br>
					<%= podcast.artist %></li>
					<div class="likes-count"><%= podcast.likes.count %></div>
			<% if user_signed_in? && (@user.friends.include?(current_user) || @user.inverse_friends.include?(current_user)) && (current_user != @user) %>
				<div class="like-button">
					<%= form_for(@like) do |f| %>
					  <%= f.hidden_field(:user_id, :value => current_user.id) %>
					  <%= f.hidden_field(:likeable_id, :value => podcast.id) %>
					  <%= f.hidden_field(:likeable_type, :value => podcast.class.name) %>
					  <%= f.submit "LIKE"%>
					<% end %>
	
				</div>
					<% end %>
					<% if @user == current_user %>
					<%= link_to "Remove from favorites", "/podcastusers/#{PodcastUser.find_by(user_id: @user.id, podcast_id: podcast.id).id}", :method => 'delete' %>
					<% end %>
			<% end %>
	<% end %>
</div>

<div class="tab-pane" id="recommendationContent">
<% @suggestions.each do |recommendation| %>
	<% recommendation["results"].each do |results| %>
<br>
		<% unless @favoriteTitles.include?(results["collectionName"]) || @inQueueTitles.include?(results["collectionName"])%>
		<p><a href="<%= results["collectionViewUrl"]%>"><img src="<%= results["artworkUrl100"]%>"/></a></p>
		<p>Title: <%= results["collectionName"] %></p>
		<p>Artist: <%= results["artistName"] %></p>
		<br>
			<%= form_for(@podcast) do |f| %>
				<%= f.hidden_field(:title, :value => results["collectionName"]) %>
				<%= f.hidden_field(:genre, :value => results["primaryGenreName"]) %>
    		<%= f.hidden_field(:artist, :value => results["artistName"]) %>
    		<% fields_for @userPods do |u| %>
		    <%= u.hidden_field(:in_queue, :value => true) %>
		    <% end %>
		    <%= f.submit "Add to queue!" %>
			<% end %>
			<%= form_for(@podcast) do |f| %>
				<%= f.hidden_field(:title, :value => results["collectionName"]) %>
				<%= f.hidden_field(:genre, :value => results["primaryGenreName"]) %>
    		<%= f.hidden_field(:artist, :value => results["artistName"]) %>
    				<% fields_for @userPods do |u| %>
		    			<%= u.hidden_field(:in_queue, :value => true) %>
		    		<% end %>
		    		<%= f.submit "Add to favorites!" %>
		    	<% end %>
		<% end %>
	<% end %>
<% end %>
</div>