<form action="/podcasts/share?podcast=<%= @podcast.id %>&friend=" method="GET">
  <select>
    <option value="" diabled selected>Choose a Friend</option>
    <% current_user.friends.each do |friend| %>
        <option value="<%= friend.id %>"><%= friend.username %></option>
    <% end %>
    <% current_user.inverse_friends.each do |friend| %>
        <option value="<%= friend.id %>"><%= friend.username %></option>
    <% end %>
  </select>
  <input type="submit" class="btn btn-sm btn-primary" value="Share Podcast">
</form>
