<div class="top-genres-container">
  <h2>Top Podcasts</h2>
  <% @parsed_results["feed"]["entry"].each do |results| %>
  <div class="panel panel-default top-podcasts">
    <div class="top-podcast-image">
    <a href="<%= results["link"]["attributes"]["href"]%>"><img src="<%= results["im:image"][2]["label"] %>"/></a>
  </div>
  <div class="top-podcast-info">
    <p>Title: <%= results["im:name"]["label"] %></p>
    <p>Artist: <%= results["im:artist"]["label"] %></p>
    <p>Summary: <%= results["summary"]["label"] %></p>
  </div>
  </div>
    <br>
  <% end %>
</div>
