<% if @podcasts %>
<% @podcasts.results.each do |podcast| %>
<img src="<%= podcast.artworkUrl100 %>">
  <li><%= podcast.collectionName %><br>
  Hosts: <%= podcast.artistName %><br>
  Tags: <% podcast.genres.each do |tag| %><% unless tag == "Podcasts" %><span class="tag"><%= tag %> </span><%end%><%end%><br>
  <a href=<%= podcast.collectionViewUrl %>>Listen Here</a><br><br>
  <% if user_signed_in? %>
  <%= form_for(@podcast) do |f| %>
    <%= f.hidden_field(:title, :value => podcast.collectionName) %>
    <%= f.hidden_field(:genre, :value => podcast.primaryGenreName) %>
    <%= f.hidden_field(:artist, :value => podcast.artistName) %>
    <%= f.hidden_field(:image30, :value => podcast.artworkUrl30) %>
    <%= f.hidden_field(:image60, :value => podcast.artworkUrl60) %>
    <%= f.hidden_field(:image100, :value => podcast.artworkUrl100) %>
    <% fields_for @userPods do |u| %>
    <%= u.hidden_field(:in_queue, :value => true) %>
    <% end %>
    <%= f.submit "Add to queue!" %>
  <% end %>
  <%= form_for(@podcast) do |f| %>
    <%= f.hidden_field(:title, :value => podcast.collectionName) %>
    <%= f.hidden_field(:genre, :value => podcast.primaryGenreName) %>
    <%= f.hidden_field(:artist, :value => podcast.artistName) %>
    <%= f.hidden_field(:image30, :value => podcast.artworkUrl30) %>
    <%= f.hidden_field(:image60, :value => podcast.artworkUrl60) %>
    <%= f.hidden_field(:image100, :value => podcast.artworkUrl100) %>
    <% fields_for @userPods do |u| %>
    <%= u.hidden_field(:favorite, :value => true) %>
    <% end %>
    <%= f.submit "Add to favorites!" %>
    <% end %>
  <% end %>
  <%= form_for(@podcast) do |f| %>
    <%= f.hidden_field(:title, :value => podcast.collectionName) %>
    <%= f.hidden_field(:genre, :value => podcast.primaryGenreName) %>
    <%= f.hidden_field(:artist, :value => podcast.artistName) %>
    <%= f.hidden_field(:image30, :value => podcast.artworkUrl30) %>
    <%= f.hidden_field(:image60, :value => podcast.artworkUrl60) %>
    <%= f.hidden_field(:image100, :value => podcast.artworkUrl100) %>
  <%= f.submit "View active discussions" %>
  <% end %>
  </li>
  <% end %>
<% end %>
