<div class="show-container">
    <div class="show-title">
      <h1><%= @podcast.title %></h1>
      <% if @podcast.discussions %>
        <h2><%= @podcast.title %>'s Discussions</h2>
    </div>
      <div class="sidebar">
        <div class="podcast-image">
          <img src="<%= @podcast.image100 %>">
        </div>
      </div>
    <% @podcast.discussions.each do |discussion| %>
      <div class="sidebar">
        <h4>Active Discussions:</h4>
        <li>
        <%= link_to discussion.title, discussion %>
        </li>
      </div>
    <% end %>
  <% end %>
  <div class="discussion-container">
    <% if user_signed_in? %>
      <%= form_for([@podcast, @discussion]) do |f| %>
        <div class="main-box">
          <div class="title">
              <%= f.text_field :title, placeholder: "Title:" %>
            </div>
              <div class="discussion-box">
                <%= f.text_area :content, placeholder: "Body:", size: "60x12" %>
                <%= f.hidden_field(:podcast_id, value: @podcast.id)%>
            </div>
            <div class="discussion-button">
              <%= f.submit "Create Discussion" %>
            </div>
          </div>
      <div class="sidebar">
        <div class="share">
          <%= render :partial => 'podcasts/share' %>
        </div>
      </div>
      <% end %>
  </div>
<% end %>
