<h1><%= @podcast.title %></h1>

<% if @podcast.discussions %>
  <h2><%= @podcast.title %>'s Discussions</h2>
  <% @podcast.discussions.each do |discussion| %>
    <li>
    <%= link_to discussion.title, discussion %>
    </li>
  <% end %>
<% end %>


<% if user_signed_in? %>
  <%= form_for([@podcast, @discussion]) do |f| %>
    <%= f.text_field :title %>
    <%= f.text_area :content, size: "60x12" %>
    <%= f.submit "Create Discussion" %>
  <% end %>
<% end %>