<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1><%= @podcast.title %></h1>
      <% if @podcast.discussions %>
        <h2><%= @podcast.title %>'s Discussions</h2>
    </div>
      <div class="panel-body">
        <div class="podcast-image">
          <img src="<%= @podcast.image100 %>">
        </div>
      <div class="active-discussions">
        <h4>Active Discussions:</h4>
          <% @podcast.discussions.each do |discussion| %>
              <li>
              <%= link_to discussion.title, discussion %>
              </li>
          <% end %>
      </div>
  <% end %>
    <% if user_signed_in? %>
        <div class="form discussion-form">
          <div class="form-group">
            <%= form_for([@podcast, @discussion]) do |f| %>
              <div class="field name col-xs-12">
                <%= f.label :title %><br/>
                <%= f.text_field :title, class: 'form-control' %>
              </div>
                <div class="field name col-xs-12">
                  <%= f.label :body %><br/>
                  <%= f.text_area :content, size: "60x12", class: 'form-control' %>
                  <%= f.hidden_field(:podcast_id, value: @podcast.id)%>
              </div>
            </div>
            <div class="discussion-button">
              <%= f.submit "Create Discussion", class: 'btn btn-sm btn-primary' %>
            </div>
          </div>
      <% end %>
      <div class="share">
          <form action="/podcasts/<%= @podcast.id %>/shares" method="post">
            <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
            <select>
              <option value="" disabled selected>Choose a pal</option>
              <% current_user.friends.each do |friend| %>
                <option><%= friend.username%><input type="hidden" name="share[recipient_id]" value="<%= friend.id %>"></option>
              <% end %>
              <% current_user.inverse_friends.each do |friend| %>
                <option><%= friend.username%><input type="hidden" name="share[recipient_id]" value="<%= friend.id %>"></option>
              <% end %>
            </select>
            <input type="submit" value="Share Podcast">
          </form>
        </div>
    <% end %>
  </div>
  </div>
</div>

