<!DOCTYPE html>
<html>
  <head>
    <title>Podpals</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <style>
      @import 'https://fonts.googleapis.com/css?family=Lobster';
    </style>
    <%= csrf_meta_tags %>
  </head>
  <div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="nav-container">
        <ul class="nav navbar-nav">
          <li><%= link_to "Search", root_path, method: "get", class: "nav-link"%></li>
          <% if !user_signed_in? %>
          <li><%= link_to "Login", new_user_session_path, method: "get", class: "nav-link"%></li>
          <li><%= link_to "Register", new_user_registration_path, method: "get", class: "nav-link"%></li>
          <% else %>
          <li><%= link_to current_user.username, "/users/#{current_user.id}", method: "get", class: "nav-link" %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: "get", class: "nav-link"%></li>
          <% end %>
          <li><%= link_to "Browse Genres", podcasts_genres_path, method: "get", class: "nav-link" %></li>
        </ul>
      </div>
    </nav>
    <% if user_signed_in? %>
      <div class="notifications">
        <div class="user">
          <%= image_tag current_user.avatar.url(:thumb) %>
          <a href="/users/<%= current_user.id %>"><h4 class="user-name"><%= current_user.username %></h4></a>
          <a href="#!email"><h4 class="user-email"><%= current_user.email %></h4></a>
        </div>
        <div class="notification-content">
          <div class="notifications-content-margin">
            <p class="notifications-friends">Friends</p>
            <% current_user.accepted_friends.each do |user| %>
              <% if user.friend != current_user %>
                  <a class="friend-entry" href="/users/<%= user.friend_id %>"><%= user.friend.username %></a>
              <% end %>
            <% end %>
            <% current_user.accepted_inverse_friends.each do |friend| %>
              <% if friend.user != current_user %>
                  <a href="/users/<%= friend.user_id %>"><%= friend.user.username %></a>
              <% end %>
            <% end %>
            <div class="divider"></div>
            <p class="notifications-pending">Pending Requests</p>
              <%= render :partial => 'friends/pending_friends', locals: {user: current_user} %><br>
            <div class="divider"></div>
            <p class="notifications-shares">Shares Feed</p>
              <% current_user.recieved_shares.order('updated_at DESC').limit(5).each do |share| %>
                <%= link_to share.podcast.title, share.podcast %><br>
                Shared By: <%= share.sender.username %> on <%= share.created_at.to_s(:long) %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="errors">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, class: "alert alert-info" %>
        <% end %>
      </div>
  <body>
    <div class="body-container">
    <%= yield %>
    </div>
  </body>
</html>
