<!DOCTYPE html>
<html>
  <head>
    <title>Podpals</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <div class="container">
    <nav>
      <ul class="nav">
        <% if !user_signed_in? %>
            <li><%= link_to "Search", root_path, method: "get" %></li>
            <li><%= link_to "Login", new_user_session_path, method: "get" %></li>
            <li><%= link_to "Register", new_user_registration_path, method: "get" %></li>
        <% else %>
            <li><%= link_to "Search", root_path, method: "get" %></li>
            <li><%= link_to current_user.username, "/users/#{current_user.id}", method: "get" %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: "get" %></li>
            <ul id="slide-out" class="side-nav">
    <li><div class="userView">
      <!-- <img class="background" src="images/office.jpg"> -->
      <!-- <a href="#!user"><img class="circle" src="images/yuna.jpg"></a> -->
      <a href="#!name"><span class="white-text name"><%= current_user.username %></span></a>
      <a href="#!email"><span class="white-text email"><%= current_user.email %></span></a>
    </div></li>
          <li><a href="/users/<%= current_user.id %>"><i class="material-icons"></i>My Profile Page</a></li>
          <li><div class="divider"></div></li>
          <li><a class="subheader">Friends</a></li>
          <li><div class="divider"></div></li>
          <li><a class="subheader">Online</a></li>
          <% current_user.friends.each do |friend| %>
            <% if friend.online? && friend != current_user %>
                <li><a class="waves-effect" href="/users/<%= friend.id %>"><%= friend.username %></a></li>
            <% end %>
          <% end %>
          <% current_user.inverse_friends.each do |friend| %>
            <% if friend.user.online? && friend != current_user %>
                <li><a class="waves-effect" href="/users/<%= friend.user_id %>"><%= friend.user.username %></a></li>
            <% end %>
          <% end %>
          <li><div class="divider"></div></li>
          <li><a class="subheader">Offline</a></li>
          <% current_user.friends.each do |friend| %>
            <% if friend.online? == false && friend != current_user %>
                <li><a class="waves-effect" href="/users/<%= friend.id %>"><%= friend.username %></a></li>
            <% end %>
          <% end %>
          <% current_user.inverse_friends.each do |friend| %>
            <% if friend.user.online? == false && friend != current_user %>
                <li><a class="waves-effect" href="/users/<%= friend.user_id %>"><%= friend.user.username %></a></li>
            <% end %>
          <% end %>            
          <li><div class="divider"></div></li>
          <li><a class="subheader">Pending Requests</a></li>
          <%= render :partial => 'friends/pending_friends', locals: {user: current_user} %><br>
          <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
          </ul>
        <% end %>
      </ul>
    </nav>
  </div>
  <body>
    <%= yield %>
  </body>
</html>
